<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Xtend</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"
                ng-click="app.go('app.home')"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.7">
                    <div data-comp-id="text.7">Batch Number</div>
                </div>
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1">Batch Number</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.8">
                    <div data-comp-id="text.8">Status</div>
                </div>
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2">Status</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.9">
                    <div data-comp-id="text.3">Task Number</div>
                </div>
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.9">Task Number</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.4">
                    <div data-comp-id="text.4">Quantity</div>
                </div>
                <div class="col" data-comp-id="column.10">
                    <div data-comp-id="text.10">Quantity</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.5">
                <div class="col" data-comp-id="column.5">
                    <div data-comp-id="text.11">Current Operation</div>
                </div>
                <div class="col" data-comp-id="column.11">
                    <div data-comp-id="text.5">Current Operation</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.6">
                <div class="col" data-comp-id="column.6">
                    <div data-comp-id="text.12">Next Operation</div>
                </div>
                <div class="col" data-comp-id="column.12">
                    <div data-comp-id="text.6">Next Operation</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>